@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --design-font-clr: hsl(167, 40%, 24%);
  --photography-font-clr: hsl(198, 62%, 26%);
  --footer-font-clr: hsl(168, 34%, 41%);
  --footer-bg-clr: hsl(166, 44%, 70%);

  --desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-gray-blue: hsl(213, 9%, 39%);
  --dark-gray-blue: hsl(232, 10%, 55%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  --ff-body: 'Barlow', sans-serif;
  --ff-header: 'Fraunces', serif;

  --fs-body: 1.125rem;

  --spacer-sm: 0.5rem;
  --spacer: 1rem;
  --spacer-md: 2rem;
  --spacer-lg: 3rem;
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  text-align: center;
}

h1, h2, h3 {
  font-family: var(--ff-header);
  font-weight: var(--fw-black);
}

h1 {
  text-transform: uppercase;
  font-family: var(--ff-header);
  color: var(--white);
  letter-spacing: var(--spacer-sm);
  font-weight: var(--fw-black);
  position: absolute;
  top: 10rem;
  z-index: -1;
}

header {
  background: url('./images/mobile/image-header.jpg') no-repeat;
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}
/* navigation */

.primary-nav {
  position: relative;
  max-width: 80%;
  margin: auto;
  z-index: 10;
}

.logo {
  background-color: transparent;
  max-width: 50%;
}

.logo img {
  display: flex;
  padding: var(--spacer-md) var(--spacer) var(--spacer-md) 0;
  
}


.primary-nav ul {
  display: none;
  min-height: 40vh;
  background-color: var(--white);
}

.primary-nav ul li{
  display: flex;
  flex: 1 1 auto;
  font-size: 1.25rem;
}

.primary-nav ul li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-gray-blue);
  flex-basis: 100%;
}


.primary-nav ul li button{
  background: var(--yellow);
  border: 0;
  text-align: center;
  cursor: pointer;
  height: 3rem;
  width: 7rem;
  border-radius: 4rem;
  text-transform: uppercase;
  font-family: var(--ff-header);
  font-weight: var(--fw-bold);
  font-size: 0.8rem;
}

.primary-nav ul li:nth-child(4){
  justify-content: center;
  align-items: center;
}

.primary-nav.open ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.primary-nav::before {
  display: none;
}

.primary-nav.open::before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  right: 0;
  top: 4rem;
  position: absolute;
  border-bottom: 50px solid var(--white);
  border-left: 50px solid transparent;
}


.nav-toggle {
  display: block;
  padding: 1rem;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: ' ';
  display: block;
  width: 1.5rem;
  height: 3px;
  background: var(--white);
  transition: all ease-in-out 250ms;
}

.hamburger::before{
  transform: translateY(-6px);
}

.hamburger::after{
  transform: translateY(3px);
}

.hamburger.open {
  transform: rotate(45deg);
}

.hamburger.open::after {
  transform: rotate(-90deg);
}

.hamburger.open::before{
  display: none;
}

/* end of navigation */

.arrow {
  position: absolute;
  top: 38vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}


section h2 {
  padding: var(--spacer-md) 
           var(--spacer-md) 0 
           var(--spacer-md);
}

section img {
  width: 100%;
}

section p {
  color: var(--dark-gray-blue);
  line-height: 1.7;
  padding: var(--spacer-sm);
}

.learn {
  font-family: var(--ff-header);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer-lg);
}

.learn a {
  color: black; 
  position: relative;
}

.learn a::before {
  display: block;
  content: ' ';
  width: 110%;
  height: 0.5rem;
  position: absolute;
  bottom: -4px; 
  right: -5px; 
  border-radius: var(--spacer);
  background: var(--yellow);
  opacity: 0.5;
}

.learn a:hover::before {
  opacity: 1;
}

.audience-learn {
  font-family: var(--ff-header);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer-lg);
}

.audience-learn a {
  color: black; 
  position: relative;
}

.audience-learn a::before {
  display: block;
  content: ' ';
  width: 110%;
  height: 0.5rem;
  position: absolute;
  bottom: -4px; 
  right: -5px; 
  border-radius: var(--spacer);
  background: var(--soft-red);
  opacity: 0.5;
}

.audience-learn a:hover::before {
  opacity: 1;
}

.graphic-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url('./images/mobile/image-graphic-design.jpg') no-repeat;
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding-bottom: var(--spacer-lg);
  font-size: 0.9rem;
  color: var(--design-font-clr);
}

.graphic-design h2 {
  padding-top: 0;
  padding-bottom: var(--spacer); 
  font-size: 1.75rem;
}

.graphic-design p {
  color: var(--design-font-clr);
}

.photography {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url('./images/mobile/image-photography.jpg') no-repeat;
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding-bottom: var(--spacer-lg);
  font-size: 0.9rem;
}

.photography h2 {
  color: var(--photography-font-clr);
  padding-top: 0;
  padding-bottom: var(--spacer); 
  font-size: 1.75rem;
}

.photography p {
  color: var(--photography-font-clr);
}

.testimonials {
  margin-bottom: var(--spacer-lg);
}

.testimonials h3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  color: var(--gray-blue);
}

.testimonials p {
  color: var(--very-dark-gray-blue);
}

.client-photo img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer);
}

.testimonials .client-name {
  font-family: var(--ff-header);
  font-weight: var(--fw-black);
  margin-bottom: var(--spacer-sm);
  color: var(--desaturated-blue);
}

.testimonials p {
  margin-bottom: var(--spacer);
}

.testimonials .position {
  color: var(--gray-blue);
  font-size: 0.875rem;
}

.decorative-images {
  display: grid;   
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.decorative-images img{
  object-fit: cover;
  max-width: 100%;
}

footer {
  background-color: var(--footer-bg-clr);
  min-height: 45vh;
  padding: var(--spacer-md);
}

footer a {
  color: var(--footer-font-clr);
}

.footer-logo {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacer-md);
}

.filter-green{
  filter: invert(34%) sepia(26%) saturate(887%) hue-rotate(116deg) brightness(45%) contrast(92%);
  min-width: 65%;
}

.footer-nav {
  display: flex;
  margin-top: var(--spacer-lg);
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-lg);
  color: white;
}

.social-icon:hover{
  filter: invert(99%) sepia(99%) saturate(1%) hue-rotate(316deg) brightness(208%) contrast(100%);
}

@media screen and (min-width: 535px){
  .graphic-design p {
    padding: 1.5rem;
  }

  .photography p{
    padding: 1.5rem;
  }
}

@media screen and (min-width: 585px){
  h1 {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}

@media screen and (min-width: 800px){
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section p {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media screen and (min-width: 1024px){
  h1 {
    font-size: 3rem;
    z-index: 0;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
  }

  .logo img {
    min-width: 12.5%;
    margin-left: 2rem;
  }

  header {
    background: url('./images/desktop/image-header.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .arrow {
    position: absolute;
    top: 45vh;
    left: 0; 
    right: 0; 
  }

  .primary-nav {
    display: flex;
    position: static;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    margin-top: 0;
  }

  .primary-nav ul {
    display: flex;
    min-height: 0px;
    background-color: transparent; 
  }

  .primary-nav ul li{
    margin-right: var(--spacer-md);
  }

  .primary-nav ul li > a{
    color: var(--white);
  }

  .primary-nav ul li > a:link {
    padding: 2px;
  }

  .primary-nav ul li > a:hover {
    border-bottom: 3px solid var(--white);
  }

  .hamburger, 
  .hamburger::after, 
  .hamburger::before {
    display: none;
  }

  .primary-nav ul li button{
    background: var(--white);
  }

  
  .primary-nav ul li button:hover{
    background: hsl(199, 100%, 71%);
    color: var(--white);
  }


  .col, .col-audience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
  }

  .col img{
    order: 2; 
  }

  section h2 {
    padding: 0 8rem 0 8rem;
  }

  .learn {
    padding: 0 8rem 0 8rem;
  }

  .audience-learn {
    padding: 0 8rem 0 8rem;
  }

  .graphic-design{
    background: url('./images/desktop/image-graphic-design.jpg') no-repeat;
    min-height: 90vh;
  }

  .graphic-design p {
    padding: 0 8rem 8rem 8rem;
  }

  .photography {
    background: url('./images/desktop/image-photography.jpg') no-repeat;
    min-height: 90vh;
  }
  
  .photography p {
    padding: 0 8rem 9.5rem 8rem;
  }

  .clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .clients p {
    padding: 0 3rem 0 3rem; 
  }
  
  .decorative-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .filter-green {
    min-width: 0;
  }

  .footer-nav {
    text-align: center;
    justify-content: center;
    margin-left: 3rem;
  }

  .footer-nav div {
    margin-right: var(--spacer-md);
  }

  .footer-nav div a:link {
    padding: 2px;
  }

  .footer-nav div a:hover {
    border-bottom: 3px solid var(--footer-font-clr);
  }


}

